@use "./colors";

.header {
  overflow-x: hidden;
}

.header-wrapper {
  margin: 30px 20px 0;
  position: relative;
}
.header__title {
  color: colors.$orange;
  font-size: 2rem;
}

.header__title span {
  display: block;
  color: colors.$orange;
}

.header__slogan {
  // transform: rotate(90deg);
  color: colors.$gray;
  width: 300px;
}