@use "../components/colors";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: colors.$white;
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

.home-wrapper {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.about-container {
  padding-top: 30px;
}
