@use './colors';

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-item {
  font-size: 1.1rem;
  line-height: 140%;
}

.text__bold {
  font-weight: 700;
  font-style: italic;
}

.text__bold--orange {
  color: colors.$orange;
}

.text-container {
  padding: 0 50px;
}