@use "./colors";

.person {
  display: flex;
  justify-content: center;
  align-items: center;
}

.person__name {
  font-family: "Shantell Sans", cursive;
  color: colors.$orange;
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  position: relative;
  letter-spacing: -4px;
}

.person__last-name {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: colors.$black;
  position: relative;
  // font-size: 3rem;
  top: -45px;
  letter-spacing: initial;
}
