.smile {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 50px;
}

.smile-home {
  width: 130%;
  position: relative;
  left: -18%;
}

.faces {
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 20px;
  overflow: hidden;
}

.faces-item {
  object-fit: contain;
  width: 100px;
}

.faces-item--right {
  width: 65%;
  position: relative;
  right: -55%;
}

.faces-item--left {
  width: 35%;
  position: relative;
  left: -72%;
  transform: rotate(-35deg);
}