.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
}

.title a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.title h1 {
  position: relative;
  margin: 0;
  color: var(--orange-color);
}

.title_position {
  font-weight: 700;
  font-family: 'Inter';
  color: var(--black-color);
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social li a:hover {
  cursor: pointer;
  transform: scale(1.1);
  border: 3px var(--orange-color) solid;
  border-radius: var(--social-border-radius);
  transition: border 300ms;
}

.social_linkedin {
  content: "";
  background: url("/linkedin_icon.svg");
  background-size: cover;
  position: relative;
  width: 30px;
  height: 30px;
}

.social_github {
  content: "";
  background: url("/github_icon.svg");
  background-size: cover;
  position: relative;
  width: 30px;
  height: 30px;
}

.social_email {
  content: "";
  background: url("/email_icon.svg");
  background-size: cover;
  position: relative;
  width: 30px;
  height: 30px;
}

.grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  width: var(--max-width);
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.2rem;
  border-radius: var(--card-border-radius);
  background: rgba(var(), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card span::after {
  display: block;
  content: "";
  background: url("/arrow.png") no-repeat center;
  background-size: contain;
  position: relative;
  width: 30px;
  height: 30px;
}

.card h2 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  line-height: 1.5;
  max-width: 30ch;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.logo {
  position: relative;
  height: 100%;
  width: auto;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    cursor: pointer;
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

/* Mobile */
@media (max-width: 700px) {

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 2rem 0;
  }

  .title {
    font-size: 0.8rem;
  }

  .title a {
    padding: 1rem;
  }

  .title h1,
  .title div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .title h1 {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 4rem;
    background: linear-gradient(
      to top,
      transparent 0%,
      rgb(var(--background-gradient)) 40%
    );
  }

  .title div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 150px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-gradient)) 40%
    );
    z-index: 1;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
